.img {
  height: 100%;
  max-width: 350px;
  margin-right: 15px;
}
.cardWrapper {
  display: flex;
  margin-bottom: 15px;
}

.additionalsWrapper {
  border: solid 1px darkgray;
}
.additionalsList {
  list-style: none;
}
